{% extends "layout.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
{% translate "Delete user" %}
{% endblock %}

{% block content %}
<main class="container flex-grow-1">
    <h1 class="my-4"></h1>
      <h1 class="my-4">{% translate "Deleting the user" %}</h1>
      <p class="my-3">{% translate "Are you sure you want to delete" %} {{ user.first_name }} {{ user.last_name }}</p>
      <form action="{% url 'users:delete' pk=user.pk %}" method="post" class="form">
          {% csrf_token %}

          {% translate "Yes, delete" as button_name %}
          {% bootstrap_button button_type="submit" button_class="btn-danger mb-4" content=button_name %}
      </form>
</main>
{% endblock %}
