{% extends "components/delete.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
{% translate "Delete label" %}
{% endblock %}

{% block heading %}
{% translate "Deleting the label" %}
{% endblock %}

{% block text %}
{% translate "Are you sure you want to delete" %} {{ label.name }}
{% endblock %}

{% block form %}
<form action="{% url 'labels:delete' pk=label.pk %}" method="post" class="form">
  {% csrf_token %}

  {% translate "Yes, delete" as button_name %}
  {% bootstrap_button button_type="submit" button_class="btn-danger mb-4" content=button_name %}
</form>
{% endblock %}
