{% load i18n %}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a href="{% url 'users:users' %}" class="nav-link px-2"><i class="bi bi-person-lines-fill mx-1"></i>{% translate "Users" %}</a></li>
  </li>
</ul>
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item my-1">
    <a href="{% url 'login' %}" type="button" class="btn btn-outline-light me-2"><i class="bi bi-person-check-fill mx-1"></i>{% translate "Sign-in" %}</a>
  </li>
  <li class="nav-item my-1">
    <a href="{% url 'users:create' %}" type="button" class="btn btn-warning"><i class="bi bi-person-plus-fill mx-1"></i>{% translate "Sign-up" %}</a>
  </li>
</ul>
