{% load i18n %}
{% load bootstrap_icons %}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a href="{% url 'users:users' %}" class="nav-link px-2">{% bs_icon 'person-lines-fill' %}{% translate "Users" %}</a></li>
  </li>
  <li class="nav-item">
    <a href="{% url 'statuses:statuses' %}" class="nav-link px-2">{% bs_icon 'highlighter' %}{% translate "Statuses" %}</a></li>
  </li>
  <li class="nav-item">
    <a href="/" class="nav-link px-2">{% bs_icon 'tags' %}{% translate "Labels" %}</a></li>
  </li>
  <li class="nav-item">
    <a href="{% url 'tasks:tasks' %}" class="nav-link px-2">{% bs_icon 'list-task' %}{% translate "Tasks" %}</a></li>
  </li>
</ul>
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item my-1">
    <form action="{% url 'logout' %}" method="post" class="form">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-light me-2">{% bs_icon 'person-dash-fill' %}<span class="mx-1">{% translate "Sign-out" %}</span></button>
    </form>
  </li>
</ul>
