{% load i18n %}

<header class="flex-shrink-0">
  <nav class="navbar navbar-expand-lg bd-navbar p-3 navbar-dark text-bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}"><i class="bi bi-window-stack mx-1"></i>{% translate "Task manager" %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
        {% include "components/navbar_logged_in.html" %}
      {% else %}
        {% include "components/navbar_logged_out.html" %}
      {% endif %}
    </div>
  </nav>
</header>
