{% extends "layout.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<main class="container flex-grow-1">
    <div class="mt-4">
        {% bootstrap_messages %}
    </div>
    <h1 class="my-4"></h1>
    <div class="card">
        <div class="card-body p-5 bg-light">
          <h1 class="display-4">{% translate "Task manager project" %}</h1>
          <p class="lead my-3">{% translate "Task management can help individuals achieve goals or enable groups of individuals to collaborate and share knowledge for the accomplishment of collective goals." %}</p>
          <hr>
          <p class="lead mb-0"><a href="https://en.wikipedia.org/wiki/Task_management#:~:text=Activities%20supported%20by%20tasks" class="text-body-emphasis text-warning fw-bold text-decoration-none" target="_blank">{% translate "Learn more..." %}</a></p>
        </div>
    </div>
</main>
{% endblock %}
