<!DOCTYPE html>

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>
      {% block title %}
      {% translate "Task manager" %}
      {% endblock %}
    </title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body class="d-flex flex-column min-vh-100">

  {% include "header.html" %}

  {% block content %}
  {% endblock %}

  {% include "footer.html" %}

  </body>
</html>
