{% extends "layout.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
{% translate "Task" %}
{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-9 col-lg-6 px-4">
            <h1 class="my-4">{% translate "The task in details" %}</h1>
            <div class="card">
              <div class="card-header bg-secondary text-white">
                <h2>{{ task.name }}</h2>
              </div>
              <div class="card-body bg-light">
                <p>{{ task.description }}</p>
                <hr>
                <div class="container">
                  <div class="row p-1">
                    <div class="col">{% translate "Author" %}</div>
                    <div class="col">{{ task.author.get_full_name }}</div>
                  </div>
                  <div class="row p-1">
                    <div class="col">{% translate "Assignee" %}</div>
                    <div class="col">{{ task.assignee.get_full_name|default:"" }}</div>
                  </div>
                  <div class="row p-1">
                    <div class="col">{% translate "Status" %}</div>
                    <div class="col">{{ task.status }}</div>
                  </div>
                  <div class="row p-1">
                    <div class="col">{% translate "Date of creation" %}</div>
                    <div class="col">{{ task.created_at|date:'d.m.Y H:i' }}</div>
                  </div>
                  <div class="row p-1">
                    <div class="col">
                      <h6>{% translate "Labels" %}:</h6>
                      <ul>
                          <li></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row p-1">
                    <div class="col">
                      <a href="{% url 'tasks:update' pk=task.pk %}">{% translate "Update" %}</a>
                      <br>
                      <a href="{% url 'tasks:delete' pk=task.pk %}">{% translate "Delete" %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}